
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}


.badge {
  width: 50px;
  display: inline-block;
	padding: 7px;
	background: blueviolet;
	border-radius: 3px;
  margin: 5px;
	color: #fff;
}


.btn {
  border:  none;
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 3px;
  color: #222;
  font-size: 18px;
  margin: 5px;
  background: #e3e3;
}


.btn-danger {
  background: red;
  border-color: red;
  color: white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.badge-warning {
  background: #b9b96a;
}

.badge-primary {
  background: blueviolet;
}